
<form method="POST" action="/add">
	<p>Titulo</p>
	<input type="text" name="titulo">
	<p>Conteúdo</p>
	<textarea name="conteudo"></textarea>
	<button name="button" type="submit">Enviar</button>
</form>
