
<form method="POST" action="/update">
	<p>Titulo</p>
	<input type="text"  value="{{dados.dataValues.titulo}}" name="titulo">
	<p>Conteúdo</p>
	<textarea value=""  name="conteudo">{{dados.dataValues.conteudo}}</textarea>
	<button name="id" value="{{dados.dataValues.id}}" type="submit">Enviar</button>
</form>
